@font-face{
    font-family: "Lilita One";
    src: url("./assets/LilitaOne.ttf");
}

* {
    font-family: "Lilita One", sans-serif;
}

html{
    height: 520px;
    width: 676px;
}

body{
    background-color: #E1B894;
    overflow: hidden;
}

html, body{
    scrollbar-width: none;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #875C36;
    border-radius: 3px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
