@font-face{
    font-family: "Lilita One";
    src: url("./assets/LilitaOne.ttf");
}

* {
    font-family: "Lilita One", sans-serif;
}

body{
    background-color: #E1B894;
    height: 100%;
}

::-webkit-scrollbar{
    display: none;
}
html, body{
    scrollbar-width: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
